# Database files
# apis/m3/rest/db/
*.sqlite*
*.csv

# Python
*.pyc
__pycache__/
.venv/
*.venv/
venv/
build/
*.egg-info/

# Environment
.env

# OS
.DS_Store

# Large binaries
*.dylib
*.so
*.sqlite

train_chunked/
train/
build/
db/
*chroma_data*

tools_*.json
output/

parlant-data/

# Ignore all data folders everywhere
**/data/

# Re-include helpers/data
!helpers/data/
!helpers/data/**

# But still ignore any __pycache__ inside helpers/data
helpers/data/**/__pycache__/
gpt-oss-120b*