# Database files
# apis/m3/rest/db/
*.sqlite*
*.csv

# Python
*.pyc
__pycache__/
.venv/
*.venv/
venv/
build/
*.egg-info/

# Environment
.env

# OS
.DS_Store

# Large binaries
*.dylib
*.so
*.sqlite

train_chunked/
train/